{
  "swagger": "2.0",
  "info": {
    "title": "Link",
    "description": "This is an link for all my links. I use a single link system to manage all my sites.",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v2"
  },
  "host": "link.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/links/": {
      "get": {
        "summary": "all links",
        "description": "all links",
        "operationId": "getLinks",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across link",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "link response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          }
        },
        "tags": [
          "Links"
        ]
      },
      "post": {
        "summary": "add a link",
        "description": "add a link",
        "operationId": "addLink",
        "parameters": [
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "name for the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "formData",
            "description": "description of the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "formData",
            "description": "url for the link",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "link response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          }
        },
        "tags": [
          "Links"
        ]
      }
    },
    "/link/{link_id}/screenshots/": {
      "get": {
        "summary": "retrieve link screenshots",
        "description": "retrieve link screenshots",
        "operationId": "getOrganizationScreenshots",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "id for link",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the link",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization Screenshot Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/screenshot"
              }
            }
          }
        },
        "tags": [
          "Screenshots"
        ]
      },
      "post": {
        "summary": "add screenshots to link",
        "description": "add screenshots for link",
        "operationId": "addOrganizationScreenshot",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "id for the link",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "path",
            "in": "formData",
            "description": "image path",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "formData",
            "description": "image type",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "image name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization Screenshot Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/screenshot"
              }
            }
          }
        },
        "tags": [
          "Screenshots"
        ]
      }
    },
    "/link/{link_id}/screenshots/{link_screenshot_id}": {
      "delete": {
        "summary": "delete a link screenshot",
        "description": "delete a link screenshot",
        "operationId": "deleteOrganizationScreenshot",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "id for the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "link_screenshot_id",
            "in": "path",
            "description": "id of the screenshot to remove from link",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/screenshot"
              }
            }
          }
        },
        "tags": [
          "Screenshots"
        ]
      }
    },    
    "/links/{link_id}/": {
      "get": {
        "summary": "get link",
        "description": "get link",
        "operationId": "getLink",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "the unique id for link entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the link",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "link response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          }
        },
        "tags": [
          "Links"
        ]
      },
      "put": {
        "summary": "update link",
        "description": "update link",
        "operationId": "updateLink",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "the unique id for the link",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "name for the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "formData",
            "description": "description of the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "formData",
            "description": "url for the link",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "link response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          }
        },
        "tags": [
          "Links"
        ]
      },
      "delete": {
        "summary": "delete link",
        "description": "delete link",
        "operationId": "deleteLink",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "the unique id for link entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the link",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "link response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          }
        },
        "tags": [
          "Links"
        ]
      }
    },
    "/links/{link_id}/tags/": {
      "get": {
        "summary": "link tags",
        "description": "link tags",
        "operationId": "getlinkTags",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "id for link",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the link",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Link Tags Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      },
      "post": {
        "summary": "add tag to link",
        "description": "add tag to link",
        "operationId": "addLinkTag",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "id for the link",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "tag name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Link Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/links/{link_id}/tags/{tag}": {
      "delete": {
        "summary": "delete link tag",
        "description": "delete link tag",
        "operationId": "deletelinkTag",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "id for the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "tag to remove from link",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Link Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    }
  },
  "definitions": {
    "link": {
      "properties": {
        "link_id": {
          "description": "unique id of the link",
          "type": "integer",
          "format": "id"
        },
        "name": {
          "description": "name for the link",
          "type": "string"
        },
        "description": {
          "description": "description of the link",
          "type": "string"
        },
        "url": {
          "description": "url for the link",
          "type": "string"
        }
      }
    },
    "screenshot": {
      "properties": {
        "api_id": {
          "description": "id for the API",
          "type": "integer",
          "format": "id"
        },
        "link_screenshot_id": {
          "description": "id for the screenshot",
          "type": "integer",
          "format": "id"
        },
        "name": {
          "description": "name of the screenshot",
          "type": "string"
        },
        "path": {
          "description": "path of the screenshot",
          "type": "string"
        },
        "type": {
          "description": "type of screenshot",
          "type": "string"
        }
      }
    },    
    "tag": {
      "properties": {
        "tag_id": {
          "description": "id for the tag",
          "type": "integer",
          "format": "id"
        },
        "tag": {
          "description": "text tag",
          "type": "string"
        },
        "api_count": {
          "description": "number of items api with tag",
          "type": "integer"
        }
      }
    }
  }
}