{
  "swagger": "2.0",
  "info": {
    "title": "Instance",
    "description": "This is a instance api",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v1"
  },
  "host": "instance.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/instance/": {
      "get": {
        "summary": "retrieves all instances",
        "description": "pulls all instances, with filter by keyword",
        "operationId": "getInstances",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across instance",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "instance response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/instance"
              }
            }
          }
        },
        "tags": [
          "instance",
          "instanceging"
        ]
      },
      "post": {
        "summary": "add instance",
        "description": "add a new instance",
        "operationId": "addInstance",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "name of the instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the instance",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "instance response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/instance"
              }
            }
          }
        },
        "tags": [
          "instance",
          "instanceging"
        ]
      }
    },
    "/instance/{slug}": {
      "get": {
        "summary": "Retrieve a instance using its slug",
        "description": "Returns the instance detail",
        "operationId": "getInstance",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "slug for the instance, notice this is in the path, not a query variable",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "instance response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/instance"
              }
            }
          }
        },
        "tags": [
          "instance",
          "instanceging"
        ]
      },
      "put": {
        "summary": "update instance",
        "description": "update instance",
        "operationId": "updateInstance",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name of the instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the instance",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "instance response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/instance"
              }
            }
          }
        },
        "tags": [
          "instance",
          "instanceging"
        ]
      },
      "delete": {
        "summary": "delete instance",
        "description": "deletes an instance",
        "operationId": "deleteInstance",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the instance",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "instance response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/instance"
              }
            }
          }
        },
        "tags": [
          "instance",
          "instanceging"
        ]
      }
    }
  },
  "definitions": {
    "instance": {
      "properties": {
        "name": {
          "description": "name of the instance",
          "type": "string"
        },
        "description": {
          "description": "description of the instance",
          "type": "string"
        },
        "url": {
          "description": "url for the instance",
          "type": "string"
        },
        "tags": {
          "description": "tags for the instance",
          "type": "string"
        },
        "slug": {
          "description": "slug for the instance",
          "type": "string"
        }
      }
    },
    "errorModel": {
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}
